* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
    color: #d8d8d8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    color: #a455d2;
    padding: 16px 24px;
    border-bottom: 1px solid #363636;
}

.main-body {
    display: flex;
    flex: 1;
}

#create-project {
    background-color: #a455d2;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: 0px;
    cursor: pointer;
}

#project-bar {
    border-right: 1px solid #363636;
}

.sidebar-header {
    padding: 10px 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    min-width: fit-content;
    max-width: 250px;
    transition: max-width 0.3s ease, padding 0.3s ease;
}

.sidebar.collapsed {
    width: fit-content;
    overflow: hidden; 
}

.sidebar.collapsed .project-div {
    justify-content: center;
    width: 100%; 
}

.sidebar.collapsed .sidebar-header h2,
.sidebar.collapsed .project-div img,
.sidebar.collapsed .project-title {
    display: none;
}

.project-div {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    width: 230px;
}

.project-title {
    overflow-inline: auto;
    width: 110px;
}

#content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

footer {
    padding: 20px;
    text-align: center;
    background: #1E1E1E;
    border-top: 1px solid #363636;
}

.icon {
    width: 24px;
    cursor: pointer;
}

.icon:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);
}

.project-task-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 28px;
    height: fit-content;
    max-width: 360px;
    background-color: #2C2C2C;
    border: 1px solid #000000;
    border-radius: 24px;
}

.project-task-header {
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
}

.create-task-btn {
    background-color: #a455d2;
    color: #fff;
    padding: 0 10px;
    border-radius: 6px;
    border: 0px;
    cursor: pointer;
}

.create-task-btn:hover,
#create-project:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.04);
    box-shadow: 0px 0px 1px 1px #efefef;
}

.task-div {
    padding: 10px;
    background-color: #1E1E1E;
    border-radius: 10px;
    border-left: 4px solid #cecece;
}

.task-header {
    display: flex;
    justify-content: space-between;
}

.low-priority {
    border-left-color: lightgreen;
}

.medium-priority {
    border-left-color: orange;
}

.high-priority {
    border-left-color: red;
}

dialog {
    margin: auto;
    background-color: #2C2C2C;
    color: #d8d8d8;
    border-radius: 20px;
    border: 0px;
    padding: 50px;
}

dialog h2 {
    text-align: center;
}

button {
    border-radius: 10px;
    margin-right: 12px;
    border: 0px;
    font-family: inherit;
    cursor: pointer;
}

.button-div {
    text-align: center;
}

.cancel-btn {
    background-color: red;
    color: #1E1E1E;
}

.submit-btn {
    background-color: greenyellow;
    color: #1E1E1E;
}

.cancel-btn,
.submit-btn {
    margin-top: 12px;
    margin-right: 20px;
    padding: 6px 20px;
    font-size: 1.1rem;
}

input,
select,
textarea {
    width: max-content;
    padding: 6px 10px;
    margin-left: 10px;
    margin-top: 14px;
    border-radius: 10px;
    border: 0px;
    background-color: #4f4f4f;
    color: #d8d8d8;
}

#delete-task-dialog h2,
#delete-project-dialog h2 {
    padding-bottom: 14px;
}

#delete-task-dialog .button-div,
#delete-project-dialog .button-div {
    padding-top: 12px;
}

.icon {
    filter: invert(60%);
}

.logo {
    margin-bottom: -8px;
    width: 30px;
    border-radius: 100px;
}

.logo:hover {
    transition: transform ease-in-out 0.3s;
    transform: rotate(360deg) scale(1.2);
}

